<div class="card p-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-3">
            <img [src]="movie?.cover_image" class="w-100 object-fit-cover rounded-start"
                alt="poster">
            
        </div>
        <div class="col-md-6 ">
            <div class="card-body">
                <!-- <h5 class="card-title">{{ movieTitle }}</h5> -->
                <!-- *ngIf="noPermission()" -->
                <div class="icons d-flex justify-content-start align-items-center gap-2 mb-2" >
                    <h5 class="card-title m-0">{{ movie?.title }}</h5>
                    <img src="assets/img/star.svg" alt="favorites button" class="mx-1" role="button" tabindex="0">
                   </div>
                <p class="card-text">Year: {{ movie?.production_year }}</p>
                <p class="card-text">Genre: {{ movie?.genre }}</p>
                <p class="card-text">Country: {{ movie?.production_country }}</p>
                <p class="card-text">Production: {{ movie?.producer }}</p>
                <p class="card-text">Duration: {{ movie?.duration_minutes }} minutes</p>
                <p class="card-text">Revenue: {{ movie!.revenue | revenueConverter }}</p>
                <hr class="my-4">
                <p class="card-text">Description: </p>
                <p class="card-text">{{ movie?.description }}</p>
            </div>
        </div>
    </div>
</div>
