<app-slider></app-slider>
<div class="container py-5">
    <div class="mb-4">
        <h2 id="icons" class="mb-4">About Us</h2>
        <p>At our service, we believe in the power of storytelling through film. We provide a comprehensive catalog that allows movie lovers to discover a wide range of films, from timeless classics to the latest blockbusters. Our mission is to create an accessible platform where users can easily browse and find films that resonate with their tastes and preferences.</p>
        <p>Our team is passionate about cinema and is dedicated to curating a diverse collection of movies across various genres, including action, drama, comedy, horror, and more. We strive to keep our catalog up to date, ensuring that you can find both new releases and hidden gems. With user-friendly navigation and detailed information about each film, we make it easier than ever to find your next great watch.</p>
        <p>Join our community of film enthusiasts and explore the magic of cinema with us. Whether you're looking for a thrilling adventure, a heartwarming tale, or a thought-provoking documentary, we have something for everyone. Thank you for choosing our service as your go-to destination for all things film!

        </p>
    </div>

</div>

<div class="container py-5">
    <div class="container">
        <h2 class="mb-5">Our Services</h2>

        <div class="d-flex gap-3 text-center">
            <div class="block">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="60" height="50"
                        fill="#f05129">
                        <path
                            d="M249.6 471.5c10.8 3.8 22.4-4.1 22.4-15.5l0-377.4c0-4.2-1.6-8.4-5-11C247.4 52 202.4 32 144 32C93.5 32 46.3 45.3 18.1 56.1C6.8 60.5 0 71.7 0 83.8L0 454.1c0 11.9 12.8 20.2 24.1 16.5C55.6 460.1 105.5 448 144 448c33.9 0 79 14 105.6 23.5zm76.8 0C353 462 398.1 448 432 448c38.5 0 88.4 12.1 119.9 22.6c11.3 3.8 24.1-4.6 24.1-16.5l0-370.3c0-12.1-6.8-23.3-18.1-27.6C529.7 45.3 482.5 32 432 32c-58.4 0-103.4 20-123 35.6c-3.3 2.6-5 6.8-5 11L304 456c0 11.4 11.7 19.3 22.4 15.5z" />
                    </svg>
                    <h4 class="my-3">Latest Releases</h4>
                    <p>Discover the newest movies added to our catalog, featuring the latest hits and hidden gems for every movie lover.</p>
                </a>
            </div>
            <div class="block">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="60" height="50"
                        fill="#f05129">
                        <path
                            d="M256 80C141.1 80 48 173.1 48 288l0 104c0 13.3-10.7 24-24 24s-24-10.7-24-24L0 288C0 146.6 114.6 32 256 32s256 114.6 256 256l0 104c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-104c0-114.9-93.1-208-208-208zM80 352c0-35.3 28.7-64 64-64l16 0c17.7 0 32 14.3 32 32l0 128c0 17.7-14.3 32-32 32l-16 0c-35.3 0-64-28.7-64-64l0-64zm288-64c35.3 0 64 28.7 64 64l0 64c0 35.3-28.7 64-64 64l-16 0c-17.7 0-32-14.3-32-32l0-128c0-17.7 14.3-32 32-32l16 0z" />
                    </svg>
                    <h4 class="my-3">Movies for any taste</h4>
                    <p>Explore a diverse selection of films across all genres, ensuring there's something for everyone to enjoy.</p>
                </a>
            </div>
            <div class="block">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="60" height="50"
                        fill="#f05129">
                        <path
                            d="M408 120c0 54.6-73.1 151.9-105.2 192c-7.7 9.6-22 9.6-29.6 0C241.1 271.9 168 174.6 168 120C168 53.7 221.7 0 288 0s120 53.7 120 120zm8 80.4c3.5-6.9 6.7-13.8 9.6-20.6c.5-1.2 1-2.5 1.5-3.7l116-46.4C558.9 123.4 576 135 576 152l0 270.8c0 9.8-6 18.6-15.1 22.3L416 503l0-302.6zM137.6 138.3c2.4 14.1 7.2 28.3 12.8 41.5c2.9 6.8 6.1 13.7 9.6 20.6l0 251.4L32.9 502.7C17.1 509 0 497.4 0 480.4L0 209.6c0-9.8 6-18.6 15.1-22.3l122.6-49zM327.8 332c13.9-17.4 35.7-45.7 56.2-77l0 249.3L192 449.4 192 255c20.5 31.3 42.3 59.6 56.2 77c20.5 25.6 59.1 25.6 79.6 0zM288 152a40 40 0 1 0 0-80 40 40 0 1 0 0 80z" />
                    </svg>
                    <h4 class="my-3">Save to favorites</h4>
                    <p>Easily bookmark your favorite films to revisit later, creating a personalized watchlist tailored to your preferences.</p>
                </a>
            </div>
        </div>

    </div>
</div>

<div class="container py-5">
    <h2 class="mb-5">Latest Arrivals</h2>

    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4  row-cols-lg-5 g-2 g-lg-3">
        <div class="col" *ngFor="let movie of filteredMovies">
            <app-card [movie]="movie" [toEdit]="false"></app-card>
        </div>
    </div>
</div>
